.login-page {
  .box {
    margin: 0 auto;
    max-width: 5000px;
    width:35%;
    border-radius :20px;
  }
  .rest {
    position: relative;
    border-radius : 700px solid black;
    left: 22px;
  }
  .bean{
    position: relative;
    left: 420px;
    height: 281px;
    width: 500px;
    border-radius: 50px;
  }
}





